<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Fill the details</h1>
      <br>
      <form action="" method="post">
	<input type="text" placeholder="page_id" name="page_id" value="{{
          request.form.page_id }}">
        <input class="btn btn-default" type="submit">
      </form>
	{% if page_id!=None   %}
	 {{ dict1 }}
      {% endif %}
    </div>
  </body>
</html>
